.app-header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--surface-0);

    padding: 0 1rem;
    @media (min-width: 768px) {
        padding: 0 3.5rem;
    }
}

.underline-menu-item {
    position: relative;
}

.underline-menu-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--primary-500);
    transition: width 0.3s ease-in-out;
}

.underline-menu-item.active::after {
    width: 100%;
}

.rotate-menu-item {
    transition: transform 0.3s ease;
}

.rotate-menu-item.active {
    transform: rotate(180deg);
}

.p-menubar-root-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.search-enter-active,
.search-leave-active {
    width: 12rem;
    transition: width 0.3s ease;
}

.search-enter-from,
.search-leave-to {
    width: 0;
}

.scroll-enter-active,
.scroll-leave-active {
    transform: translate3d(0, 0, 0);
    transition: 0.1s all ease-out;
}

.scroll-enter-from,
.scroll-leave-to {
    transform: translate3d(0, -100%, 0);
    box-shadow: none;
}